{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
        <tr>
         
          <td><strong>{{title}}</strong></td>
          <td>{{description}}</td>
        
          <td>
            {{#if done}}
              <a
                class="btn btn-warning btn-sm mt-2"
                href="/tasks/{{_id}}/toggleDone"
              >Undone</a>
            {{else}}
              <a class="btn btn-success btn-sm mt-2" href="/tasks/{{_id}}/toggleDone/">Done</a>
            {{/if}}

            <a class="btn btn-danger btn-sm mt-2" href="tasks/{{_id}}/delete/">Delete</a>
            <a class="btn btn-info btn-sm mt-2" href="tasks/{{_id}}/edit">Edit</a>
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
    <h1>No tasks</h1>
    <img src="/icons/empty.svg" alt="Icono simboliza que al momento no hay tareas guardadas" class="w-75" />
  </div>
  </div>

{{/if}}